@import "tailwindcss";

@font-face {
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('General Sans'), url('/fonts/GeneralSans-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('General Sans'), url('/fonts/GeneralSans-Regular.woff2') format('woff2');
}

body {
    width: 100dvw;
    background: #e4f2ff;
    background: radial-gradient(
        circle,
        rgba(228, 242, 255, 1) 90%,
        rgba(255, 255, 255, 1) 100%
    );
    font-family: "General Sans", sans-serif;
    position: relative;
    cursor: default;
    overflow-x: hidden;
}

a {
    color: #8c97a8;
    font-weight: 500;
}

a:hover, a:focus-visible {
    color: black;
    outline: 0;
}

h2 {
    font-weight: 700;
    letter-spacing: -0.02em;
}

img {
  max-width: none;
}

@theme {
  --animate-from-bottom: from-bottom 1s ease-out forwards;
  --animate-from-top: from-top 1s ease-out forwards;
  --animate-from-bottom-shadow: from-bottom-shadow 1s ease-out forwards;
  --animate-from-bottom-right: bottom-right-to-top-left 3s cubic-bezier(0.1, 0, 1, 1) forwards;
  --animate-from-bottom-left: bottom-left-to-top-right 3s cubic-bezier(0.1, 0, 1, 1) forwards;
}

@layer utilities {
  .delay-2s {
    animation-delay: 2s;
  }

  .delay-100ms {
    animation-delay: 100ms;
  }

  .delay-200ms {
    animation-delay: 200ms;
  }

  .bg-size-200 {
    background-size: 200%;
  }
}

@keyframes from-bottom {
  from {
    opacity: 0;
    transform: translateY(100vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes from-top {
  from {
    opacity: 0;
    top: -20vh;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

@keyframes from-bottom-shadow {
  from {
    opacity: 0;
    transform: translateY(100vh);
  }
  to {
    opacity: 0.3;
    transform: translateY(0);
  }
}

@keyframes bottom-right-to-top-left {
  from {
    top: 95vh;
    left: 120vw;
    transform: scaleX(-1);
    opacity: 1;
  }
  to {
    top: 25vh;
    left: -50vw;
    opacity: 1;
    transform: scaleX(-1);
  }
}

@keyframes bottom-left-to-top-right {
  from {
    top: 75vh;
    left: -20vw;
    opacity: 1;
  }
  to {
    top: 5vh;
    left: 150vw;
    opacity: 1;
  }
}
